/* main.css에 default.css 삽입 - 호출 */
@import url(default.css);

header {
  height: 100px;
}

header h1 {
  float: left;
  margin: 29px 0 0 8px;
}

header nav {
  float: right;
  margin: 0 40px 0 0;
}

header nav ul {
  float: left;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  display: block;
  padding: 35px 17px;
  color: #1d1d1d;
  font-size: 20px;
  font-weight: 700;
}

header nav .market {
  float: left;
  display: block;
  padding: 6px 23px 6px 55px;
  margin: 28px 0 0 50px;
  border: 1px solid #6AAE27;
  border-radius: 20px;
  background-image: url(../images/market_ico.png);
  background-position: left 20px top 10px;
  background-repeat: no-repeat;
  color: #6AAE27;
  font-size: 20px;
  font-weight: 700;
}

.visual {
  padding: 0 40px;
  color: #ffffff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.visual .inner {
  height: 980px;
  background-image: url(../images/visual_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.visual strong {
  display: block;
  padding: 248px 0 0 0;
  font-size: 40px;
  font-weight: 700;
}

.visual h2 {
  font-size: 50px;
  font-weight: 700;
}

.category .tit {
  color: #1d1d1d;
}

.category .tit strong{
  display: block;
  margin: 82px 0 0 0;
  font-weight: 700;
}

.category .tit h2 {
  margin: 0 0 43px 0;
  line-height: 1.1;
  font-size: 40px;
  font-weight: 300;
}

.category ul li {
  float: left;
  width: 240px;
  margin: 0 20px 0 0;
}

/* li 중에서 마지막 li */
.category ul li:last-child {
  margin-right: 0;
}

.category ul li a {
  display: block;
}

.category ul li a img {
  width: 100%;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.category ul li a strong {
  display: block;
  margin: 22px 0 0 0;
  font-weight: 700;
}

.network {
  height: 505px;
  margin: 140px 0 0 0;
  background-image: url(../images/network_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.network h2 {
  padding: 69px 0 0 0;
  font-size: 40px;
  font-weight: 700;
}

.network p {
  margin: 20px 0 70px 0;
  font-size: 20px;
}

.network a {
  display: block;
  float: left; /* a사이의 여백 없이 나란히 배치 */
  padding: 9px 18px;
  margin: 0 26px 0 0;
  border: 1px solid #ffffff;
}

.community .tit {
  color: #1d1d1d;
}

.community .tit strong{
  display: block;
  margin: 121px 0 0 0;
  font-weight: 700;
}

.community .tit h2 {
  margin: 0 0 158px 0;
  line-height: 1.1;
  font-size: 40px;
  font-weight: 300;
}

.community .list .colgroup1 {
  float: left;
  width: 630px;
  margin: 0 20px 0 0;
}

.community .list .colgroup2 {
  float: left;
  width: 630px;
}

.community .list ul li {
  float: left;
}

.community .list ul li a {
  display: block;
  width: 305px;
  height: 210px;
  padding: 30px 30px 0 30px;
  background-color: #F4F4F4;
}

.community .list ul li a em {
  display: block;
}

.community .list ul li a strong {
  display: block;
  margin: 0 0 40px 0;
  font-size: 20px;
  font-weight: 700;
  /* 제목을 두 줄로 제한(고정)하는 스타일 */
  line-height: 1.5;
  height: 3em; /* 행간 곱하기 줄 수 단위는 꼭 em */
  overflow: hidden;
}

.community .list ul li a .date {
  display: block;
}

.community .list ul li a .date .write {
  position: relative;
  padding: 0 16px 0 0;
}

.community .list ul li a .date .write::after {
  position: absolute;
  right: 6px;
  top: 7px;
  width: 1px;
  height: 9px;
  background-color: #666666;
  content: "";
}

.community .list ul li.green a {
  margin: 0 20px 0 0;
  background-color: #13A94F;
  color: #ffffff;
}

.community .list ul li.blue a {
  margin: 0 20px 0 0;
  background-color: #005BAE;
  color: #ffffff;
}

.community .list ul li.img01 a {
  width: 630px;
  height: 390px;
  margin: 20px 0 0 0;
  background-image: url(../images/community02.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.community .list ul li.img02 a {
  width: 630px;
  height: 390px;
  margin: 0 0 20px 0;
  background-image: url(../images/community01.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.community .list ul li.data_w a .date .write::after {
  background-color: #ffffff;
}

.community .list ul li.img01 a em,
.community .list ul li.img02 a em {
  margin: 205px 0 0 0;
}

.community .list ul li.img01 a strong,
.community .list ul li.img02 a strong {
  margin: 0 0 40px 0;
  height: auto; /* 높이 고정을 해제 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

footer {
  margin: 76px 0 0 0;
  color: rgba(255, 255, 255, 0.7);
}

footer .fhead {
  height: 70px;
  background-color: #1a1a1a;
}

footer .fhead ul {
  float: left;
  margin: 12px 0 0 0;
}

footer .fhead ul li {
  float: left;
}

footer .fhead ul li.privacy {
  font-weight: 700;
}

footer .fhead ul li a {
  display: block;
  position: relative; /* after에 준 absolute의 정렬의 기준*/
  padding: 13px;
}

footer .fhead ul li a::after {
  display: block;
  /* after를 감싸는 요소 a에 position 속성이 있기 때문에 a를 기준으로 right 오른쪽 top 상단으로 정렬 */
  position: absolute;
  right: -1px;
  top: 20px;
  width: 1px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

footer .fhead ul li:first-child a {
  padding-left: 0;
}

footer .fhead ul li:last-child a::after {
  display: none;
}

footer .fhead .quest {
  display: block;
  float: right;
  padding: 7px 17px;
  margin: 17px 0 0 0;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

footer .fbody {
  background-color: #0A0A0A;
}

footer .fbody .info {
  padding: 43px 0 17px 0;
}

footer .fbody .info ul li {
  position: relative;
  float: left;
  margin: 0 26px 0 0;
}

footer .fbody .info ul li::after {
  display: block;
  position: absolute;
  right: -13px;
  top: 7px;
  width: 1px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

/* li:last-child::after는 li중에 마지막 li의 after 가상요소 */
footer .fbody .info ul li:last-child:after {
  display: none;
}

footer .fbody .copyright {
  padding: 0 0 75px 0;
  color: rgba(255, 255, 255, 0.5);
}